* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color: black;
  height: 100vh;
}

input {
  margin-top: 2rem;
  height: 40px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1.5px solid lightskyblue;
  background-color: black;
  outline: none;
  color: white;

  &:focus {
    box-shadow: 0 0 2px 2px lightblue;
  }
}
